body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('i1.png');
  background-size: cover;
  background-position: center;
  color: #fff;
}

h2 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  color: #fff;
}

header {
  background-color: #b23228;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav ul li b {
  color: rgb(208, 153, 34);
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav ul li c {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #8e1f1a;
  border-radius: 4px;
}

nav ul li b:hover {
  background-color: #8e1f1a;
  border-radius: 4px;
}

.container {
  text-align: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  margin: 50px auto;
  width: 20%;
  border-radius: 10px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select, button {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border: none;
}

/* Añadido color para el texto de input y select */
input, select {
  color: #000; /* Puedes cambiar el color aquí */
}

button {
  background-color: #b23228;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #8e1f1a;
}

#result {
  margin-top: 20px;
  font-size: 1.5em;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 575px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  nav ul li {
    display: block;
    margin: 5px 0;
  }
  
  .container {
    width: 90%; /* Que ocupe casi toda la pantalla */
    margin: 20px auto;
    padding: 15px;
  }
  
  h1 {
    font-size: 1.8em;
  }
  
  input, select, button {
    width: 100%;
    max-width: none;
  }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 576px) and (max-width: 991px) {
  .container {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.2em;
  }
  
  input, select, button {
    width: 90%;
    max-width: 350px;
  }
}
